<div class="content">
	<div class="top">
		<mat-card>
			<mat-form-field>
				<input matInput type="number" [(ngModel)]="delay" />
			</mat-form-field>
			<button mat-raised-button color="primary" (click)="process()">
				Process
			</button>
		</mat-card>
	</div>
	<div class="panels">
		<div class="left-panel">
			<mat-card>
				<mat-form-field>
					<textarea matInput [(ngModel)]="subtitles"> </textarea>
				</mat-form-field>
			</mat-card>
		</div>
		<div class="right-panel">
			<mat-card>
				<mat-form-field>
					<textarea matInput [(ngModel)]="output"> </textarea>
				</mat-form-field>
			</mat-card>
		</div>
	</div>
</div>
